# p202 도전과제7-2
1. 데이터 프레임 생성 및 출력
2. 도트(.)를 사용하여 지점명에 대한 1개의 열 데이터만 선택하여 출력
3. 대괄호([])를 사용하여 지점명과 노트북에 대한 2개의 열 데이터만 선택하여 출력
4. 선택된 데이터의 타입을 출력하기 우해 type()메소드를 사용하기

In [1]:
# 1. 데이터 프레임 생성 및 출력
import pandas as pd
df = pd.DataFrame({"컴퓨터":[869, 578, 321],
                    "모니터":[374, 286, 148],
                    "노트북":[569, 427, 335],
                    "스마트폰":[197, 89, 66]},
                    index = ["서울지점","부산지점","제주지점"])
df

      컴퓨터  모니터  노트북  스마트폰
서울지점  869  374  569   197
부산지점  578  286  427    89
제주지점  321  148  335    66

In [14]:
# 2. 도트(.)를 사용하여 지점명에 대한 1개의 열 데이터(모니터)만 선택하여 출력
df.모니터

서울지점    374
부산지점    286
제주지점    148
Name: 모니터, dtype: int64

In [26]:
# 3. 대괄호([])를 사용하여 지점명과 노트북에 대한 2개의 열 데이터(노트북,스마트폰)만 선택하여 출력
df[["노트북","스마트폰"]]

      노트북  스마트폰
서울지점  569   197
부산지점  427    89
제주지점  335    66

In [3]:
# 4. 선택된 데이터의 타입을 출력하기 우해 type()메소드를 사용하기
type(df["컴퓨터"])
df["컴퓨터"]

NameError: name 'df' is not defined