# p202 도전과제7-1
1. 데이터 프레임 생성 및 출력
2. 인덱스 설정
3. loc -> 서울지점 행 데이터 출력
4. iloc -> 부산지점 행 데이터 출력

In [1]:
# 1. 데이터 프레임 생성 및 출력
import pandas as pd
df = pd.DataFrame({"컴퓨터":[869, 578, 321],
                    "모니터":[374, 286, 148],
                    "노트북":[569, 427, 335],
                    "스마트폰":[197, 89, 66]})
df

   컴퓨터  모니터  노트북  스마트폰
0  869  374  569   197
1  578  286  427    89
2  321  148  335    66

In [2]:
# 2. 인텍스 설정
df.index = ["서울지점","부산지점","제주지점"]
df

      컴퓨터  모니터  노트북  스마트폰
서울지점  869  374  569   197
부산지점  578  286  427    89
제주지점  321  148  335    66

In [3]:
# 3. loc -> 서울지점 행 데이터 출력
df.loc["서울지점"]

컴퓨터     869
모니터     374
노트북     569
스마트폰    197
Name: 서울지점, dtype: int64

In [4]:
# 4. iloc -> 부산지점 행 데이터 추력
df.iloc[1]

컴퓨터     578
모니터     286
노트북     427
스마트폰     89
Name: 부산지점, dtype: int64