판다스 기초
- 데이터구조 : 시리즈, 데이터프레임
- 모듈 설치 : pip install pandas

In [4]:
# 데이터프레임: 인덱스(행), 칼럼(열), 2차원 데이터
# 데이터프레임 생성
# 변수명 = 객체명.DataFrame([행들],[열들]],index=[행이름들], columns=[열이름들])

import pandas as pd
df = pd.DataFrame([['환자코드','연령','성별','거주지'],
                       ['A00301',23,'남','서울특별시'],
                       ['D00908',53,'여','제주특별자치도']])
# print(df)
df

        0   1   2        3
0    환자코드  연령  성별      거주지
1  A00301  23   남    서울특별시
2  D00908  53   여  제주특별자치도

In [13]:
df = pd.DataFrame([[23,'남','서울특별시'],
                   [53,'여','제주특별자치도']],
                   index=["A00301","D00908"], columns=['연령','성별','거주지'])
# print(df)
df

        연령 성별      거주지
A00301  23  남    서울특별시
D00908  53  여  제주특별자치도

In [19]:
df = pd.DataFrame([[23,'남','서울특별시'],
                   [53,'여','제주특별자치도']])
df.index=["A00301","D00908"]
df.columns=['연령','성별','거주지']
df

        연령 성별      거주지
A00301  23  남    서울특별시
D00908  53  여  제주특별자치도

In [21]:
# 인덱스 이름 변경
df.rename(index={"A00301":"환자1","D00908":"환자2"}, inplace=True)
df

     연령 성별      거주지
환자1  23  남    서울특별시
환자2  53  여  제주특별자치도

In [22]:
# 칼럼 이름 변경
df.rename(columns={"연령":"age","성병":"gender","거주지":"addr"}, inplace=True)
df

     age 성별     addr
환자1   23  남    서울특별시
환자2   53  여  제주특별자치도

In [23]:
df

     age 성별     addr
환자1   23  남    서울특별시
환자2   53  여  제주특별자치도

p196 표7-3 건강관리 대상자의 생체 데이터
 성명 나이 성별 키 체중
이겨레 25   남  185 89
조약돌 19   여  163 53

In [24]:
df = pd.DataFrame([[25,'남',185,89],
                   [19,'여',163,53]],
                   index=["이겨레","조약돌"], columns=['나이','성별','키','체중'])
# print(df)
df

     나이 성별    키  체중
이겨레  25  남  185  89
조약돌  19  여  163  53

In [29]:
# 행 데이터 선택
# loc[name], iloc[idx]
print(df.loc["이겨레"])
print(df.iloc[0])

나이     25
성별      남
키     185
체중     89
Name: 이겨레, dtype: object
나이     25
성별      남
키     185
체중     89
Name: 이겨레, dtype: object

In [30]:
print(df.iloc[0:2])

     나이 성별    키  체중
이겨레  25  남  185  89
조약돌  19  여  163  53

In [36]:
print(df.iloc[[0,1]])

     나이 성별    키  체중
이겨레  25  남  185  89
조약돌  19  여  163  53

In [33]:
df.loc[["이겨레","조약돌"]]

     나이 성별    키  체중
이겨레  25  남  185  89
조약돌  19  여  163  53

In [34]:
df.loc["이겨레":"조약돌"]

     나이 성별    키  체중
이겨레  25  남  185  89
조약돌  19  여  163  53

In [40]:
df["성별"]

이겨레    남
조약돌    여
Name: 성별, dtype: object

In [41]:
df.성별

이겨레    남
조약돌    여
Name: 성별, dtype: object

In [42]:
type(df.성별)

pandas.core.series.Series