In [1]:
import pandas as pd

In [2]:
# 데이터프레임 생성(딕셔너리)
bio_data = {'성명':['이겨레','조약돌'],
            '나이':[25,19], 
            '성별':['남','여'],
            '키':[185,163],
            '체중':[89,52]}
df = pd.DataFrame(bio_data)
df

    성명  나이 성별    키  체중
0  이겨레  25  남  185  89
1  조약돌  19  여  163  52

In [3]:
df.to_excel('df_patient.xlsx')

In [4]:
# 두번째 데이터 프레임 저장
pulse_data={
    '환자코드' : ['A00301','D00809'],
    '수축기' : [123,118],
    '이완기':[88,79],
}
df2 = pd.DataFrame(pulse_data)
df2

     환자코드  수축기  이완기
0  A00301  123   88
1  D00809  118   79

In [7]:
d_save = pd.ExcelWriter('df_blood.xlsx')
df.to_excel(d_save, sheet_name = '생체 데이터')
df2.to_excel(d_save, sheet_name = '혈압 데이터')
d_save.save()

In [9]:
# csv 파일로 저장하기 (공공데이터, 데이터분석시 주로 사용되는 포맷, excel이csv보다 가볍다)
# df.to_csv('df_patient.csv') # vs code : ok, excel = 글자깨짐(인코딩타입이 다름 )
df.to_csv('df.patient_cp949.csv',encoding='cp949')

In [12]:
#json 파일로 저장하(openAPI -> xml > json)
df.set_index('성명', inplace=True)
df

     나이 성별    키  체중
성명
이겨레  25  남  185  89
조약돌  19  여  163  52

In [14]:
df.to_json("df.patient.json", force_ascii=False)

In [15]:
df.to_json("df.patient_defalut.json")