In [2]:
import pandas as pd

In [3]:
# 엑셀파일 읽기 p262
# 절대 경로 : 모든 경로명 표기
# 상대 경로 : 현재 작업하고 있는 소스 코드가 저장되어 있는 위치 기준
#             ./파일명.xlsx
fName = "df_patient.xlsx"
df = pd.read_excel(fName) 

df

   Unnamed: 0   성명  나이 성별    키  체중
0           0  이겨레  25  남  185  89
1           1  조약돌  19  여  163  52

In [5]:
fName = "health_data_sort.xlsx"
df2= pd.read_excel(fName) #정렬된 데이터도 df 전환 성공!
df2

    코드번호 성별   키   체중    BMI  수축기  이완기
0  35123  여  159  67  26.50  130   83
1  34037  여  165  52  19.10  119   78
2  33001  남  175  65  21.22  143  110

In [6]:
# 인덱스를 열 이름으로 자동 할당
# header 생략시 엑셀 첫 형이 열의 이름
# headr가 None이면 정수형 인덱스 부여
fName = "health_data_sort.xlsx"
df2 = pd.read_excel(fName, header=None) #정렬된 데이터도 df 전환 성공!
df2

       0   1    2   3      4    5    6
0   코드번호  성별   키   체중    BMI  수축기  이완기
1  35123   여  159  67   26.5  130   83
2  34037   여  165  52   19.1  119   78
3  33001   남  175  65  21.22  143  110

In [13]:
# csv파일 읽기 p265
df = pd.read_csv("health_data.csv") # health_data.csv : 엑셀 쉼표로 분리로 지정한 csv
df

    코드번호 성별   키   체중    BMI  수축기  이완기
0  33001  남  175  65  21.22  143  110
1  34037  여  165  52  19.10  119   78
2  35123  여  159  67  26.50  130   83

In [14]:
df = pd.read_csv("health_data_utf8.csv") # health_data.csv : 엑셀 쉼표로 분리로 지정한 csv
df

    코드번호 성별   키   체중    BMI  수축기  이완기
0  33001  남  175  65  21.22  143  110
1  34037  여  165  52  19.10  119   78
2  35123  여  159  67  26.50  130   83

In [15]:
# json파일 읽기 p268
df = pd.read_json("df.patient.json")
df

     나이 성별    키  체중
이겨레  25  남  185  89
조약돌  19  여  163  52

In [32]:
# json파일 읽기 p268
df2 = pd.read_json("df.patient_defalut.json")
df2

     나이 성별    키  체중
이겨레  25  남  185  89
조약돌  19  여  163  52

In [31]:
df2.set_index("성명")

KeyError: "None of ['성명'] are in the columns"

In [43]:
# 행 인덱스 초기화 p274
df2 = df2.reset_index()
df2

   level_0 index  나이 성별    키  체중
0        0   이겨레  25  남  185  89
1        1   조약돌  19  여  163  52

In [44]:
df2.rename(columns = {"index":"성명"}, inplace=True)
df2

   level_0   성명  나이 성별    키  체중
0        0  이겨레  25  남  185  89
1        1  조약돌  19  여  163  52

In [45]:
df3 = df2.set_index("성명")
df3

     level_0  나이 성별    키  체중
성명
이겨레        0  25  남  185  89
조약돌        1  19  여  163  52

In [42]:
df3

         키  체중
나이 성별
25 남   185  89
19 여   163  52

In [46]:
df3.set_index(["나이","성별"], inplace=True) # 기존 인덱스는 삭제   
df3

       level_0    키  체중
나이 성별
25 남         0  185  89
19 여         1  163  52

In [47]:
df2.set_index("성명", inplace=True)
print(df2)
newIndex = ["이겨레","조약돌","학생1","학생2"]
df2.reindex(nexIndex)

     level_0  나이 성별    키  체중
성명
이겨레        0  25  남  185  89
조약돌        1  19  여  163  52

NameError: name 'nexIndex' is not defined

In [48]:
# 행인덱스 재배열(추가 인덱스 값은 0
print(df2)
nexIndex = ["이겨레","조약돌","학생1","학생2"]
df2.reindex(nexIndex, fill_value=0)

     level_0  나이 성별    키  체중
성명
이겨레        0  25  남  185  89
조약돌        1  19  여  163  52

     level_0  나이 성별    키  체중
성명
이겨레        0  25  남  185  89
조약돌        1  19  여  163  52
학생1        0   0  0    0   0
학생2        0   0  0    0   0

In [49]:
# 행 인덱스 초기화 p274
df2 = df2.reset_index()
df2

    성명  level_0  나이 성별    키  체중
0  이겨레        0  25  남  185  89
1  조약돌        1  19  여  163  52

In [50]:
# 행 인덱스로 정렬
df2.sort_index() #defalut: 오름차순(ascending:True)

    성명  level_0  나이 성별    키  체중
0  이겨레        0  25  남  185  89
1  조약돌        1  19  여  163  52

In [52]:
df2.sort_index(ascending=False) # 내림차순

    성명  level_0  나이 성별    키  체중
1  조약돌        1  19  여  163  52
0  이겨레        0  25  남  185  89