In [23]:
import pandas as pd

In [24]:
fName = "busan_temp_20211101152231.csv"
df = pd.read_csv(fName, encoding="cp949", 
skiprows=10)
df.head(3)

,\t\t지점번호,지점명,일시,평균기온(℃),평균최고기온(℃),최고기온(℃),\t최고기온일자,평균최저기온(℃),최저기온(℃),최저기온일자
0,\t\t159,부산,2020-01,6.4,10.9,17.7,2020-01-07,3.1,-3.2,2020-01-01
1,\t\t159,부산,2020-02,7.1,11.8,18.1,2020-02-14,3.1,-5.0,2020-02-06
2,\t\t159,부산,2020-03,10.4,15.0,18.2,2020-03-19,6.4,-0.3,2020-03-05

In [25]:
fName = "busan_temp_20211101152231.csv"
df = pd.read_csv(fName, encoding="cp949", 
skiprows=11, index_col = 2,
names=['지점번호', '지점명','평균기온','평균최고기온','최고기온','최고기온일자',
'평균최저기온','최저기온', '최저기온일자'])
df.head(2)

            지점번호 지점명  평균기온  평균최고기온  최고기온      최고기온일자  평균최저기온  최저기온      최저기온일자
2020-01  \t\t159  부산   6.4    10.9  17.7  2020-01-07     3.1  -3.2  2020-01-01
2020-02  \t\t159  부산   7.1    11.8  18.1  2020-02-14     3.1  -5.0  2020-02-06

In [26]:
df.tail(3)

     지점번호  지점명  평균기온  평균최고기온  최고기온 최고기온일자  평균최저기온  최저기온 최저기온일자
NaN  \t\t  NaN   NaN     NaN   NaN    NaN     NaN   NaN    NaN
NaN    \t  NaN   NaN     NaN   NaN    NaN     NaN   NaN    NaN
NaN    \t  NaN   NaN     NaN   NaN    NaN     NaN   NaN    NaN

In [27]:
df.value_counts(dropna=False) #dropna=False: NaN값을 포함하여 누락된 데이터의 갯수 파악

지점번호     지점명  평균기온  평균최고기온  최고기온  최고기온일자      평균최저기온  최저기온   최저기온일자
\t       NaN  NaN   NaN     NaN   NaN          NaN     NaN   NaN           6
\t\t     NaN  NaN   NaN     NaN   NaN          NaN     NaN   NaN           2
\t\t159  부산   26.3  29.5    32.4  2021-07-20   24.0    20.8  2021-07-05    1
              26.2  29.4    35.6  2021-08-06   23.8    20.4  2021-08-17    1
              22.9  26.4    28.8  2021-09-12   20.5    18.9  2021-09-27    1
              22.4  26.6    30.7  2020-06-28   19.5    16.8  2020-06-18    1
              22.1  24.8    30.6  2020-07-31   20.3    17.8  2020-07-17    1
              21.9  25.6    30.6  2020-09-01   19.2    15.5  2020-09-29    1
                    25.4    30.9  2021-06-21   19.3    16.6  2021-06-01    1
              18.7  23.3    28.4  2021-10-10   15.2    5.5   2021-10-17    1
              17.9  21.8    26.0  2020-05-27   15.0    12.2  2020-05-22    1
              17.7  21.5    26.5  2021-05-23   14.7    8.6   2021-05-02    1
              17.3  22.2    25.9  2020-10-03   13.8    7.0   2020-10-24    1
              14.7  19.7    26.5  2021-04-22   10.8    6.3   2021-04-05    1
              12.6  17.5    24.4  2020-04-29   8.9     4.4   2020-04-23    1
              12.4  17.2    23.3  2020-11-18   8.5     1.1   2020-11-29    1
              11.4  15.9    21.6  2021-03-30   7.7     1.6   2021-03-03    1
              10.4  15.0    18.2  2020-03-19   6.4    -0.3   2020-03-05    1
              7.2   11.9    19.3  2021-02-21   3.2    -7.2   2021-02-18    1
              7.1   11.8    18.1  2020-02-14   3.1    -5.0   2020-02-06    1
              6.4   10.9    17.7  2020-01-07   3.1    -3.2   2020-01-01    1
              4.3   9.3     15.0  2020-12-28   0.5    -8.0   2020-12-31    1
              3.3   7.9     15.7  2021-01-15  -0.8    -12.2  2021-01-08    1
              27.2  30.4    33.2  2020-08-20   24.8    23.4  2020-08-27    1
dtype: int64

In [28]:
df = df.dropna(axis=0, thresh=9) # 9개 이상의 유효한 데이터가 아닌 행 삭제
df.tail()

            지점번호 지점명  평균기온  평균최고기온  최고기온      최고기온일자  평균최저기온  최저기온      최저기온일자
2021-06  \t\t159  부산  21.9    25.4  30.9  2021-06-21    19.3  16.6  2021-06-01
2021-07  \t\t159  부산  26.3    29.5  32.4  2021-07-20    24.0  20.8  2021-07-05
2021-08  \t\t159  부산  26.2    29.4  35.6  2021-08-06    23.8  20.4  2021-08-17
2021-09  \t\t159  부산  22.9    26.4  28.8  2021-09-12    20.5  18.9  2021-09-27
2021-10  \t\t159  부산  18.7    23.3  28.4  2021-10-10    15.2   5.5  2021-10-17

In [29]:
df.value_counts()

지점번호     지점명  평균기온  평균최고기온  최고기온  최고기온일자      평균최저기온  최저기온   최저기온일자
\t\t159  부산   3.3   7.9     15.7  2021-01-15  -0.8    -12.2  2021-01-08    1
              4.3   9.3     15.0  2020-12-28   0.5    -8.0   2020-12-31    1
              26.3  29.5    32.4  2021-07-20   24.0    20.8  2021-07-05    1
              26.2  29.4    35.6  2021-08-06   23.8    20.4  2021-08-17    1
              22.9  26.4    28.8  2021-09-12   20.5    18.9  2021-09-27    1
              22.4  26.6    30.7  2020-06-28   19.5    16.8  2020-06-18    1
              22.1  24.8    30.6  2020-07-31   20.3    17.8  2020-07-17    1
              21.9  25.6    30.6  2020-09-01   19.2    15.5  2020-09-29    1
                    25.4    30.9  2021-06-21   19.3    16.6  2021-06-01    1
              18.7  23.3    28.4  2021-10-10   15.2    5.5   2021-10-17    1
              17.9  21.8    26.0  2020-05-27   15.0    12.2  2020-05-22    1
              17.7  21.5    26.5  2021-05-23   14.7    8.6   2021-05-02    1
              17.3  22.2    25.9  2020-10-03   13.8    7.0   2020-10-24    1
              14.7  19.7    26.5  2021-04-22   10.8    6.3   2021-04-05    1
              12.6  17.5    24.4  2020-04-29   8.9     4.4   2020-04-23    1
              12.4  17.2    23.3  2020-11-18   8.5     1.1   2020-11-29    1
              11.4  15.9    21.6  2021-03-30   7.7     1.6   2021-03-03    1
              10.4  15.0    18.2  2020-03-19   6.4    -0.3   2020-03-05    1
              7.2   11.9    19.3  2021-02-21   3.2    -7.2   2021-02-18    1
              7.1   11.8    18.1  2020-02-14   3.1    -5.0   2020-02-06    1
              6.4   10.9    17.7  2020-01-07   3.1    -3.2   2020-01-01    1
              27.2  30.4    33.2  2020-08-20   24.8    23.4  2020-08-27    1
dtype: int64

In [30]:
df.head(3)

            지점번호 지점명  평균기온  평균최고기온  최고기온      최고기온일자  평균최저기온  최저기온      최저기온일자
2020-01  \t\t159  부산   6.4    10.9  17.7  2020-01-07     3.1  -3.2  2020-01-01
2020-02  \t\t159  부산   7.1    11.8  18.1  2020-02-14     3.1  -5.0  2020-02-06
2020-03  \t\t159  부산  10.4    15.0  18.2  2020-03-19     6.4  -0.3  2020-03-05

In [33]:
#df.__setitem__('지점번호', df.__getitem__('지점번호').replace("\t",""))
#df.__getitem__('지점번호').replace("\t","")

2020-01    \t\t159
2020-02    \t\t159
2020-03    \t\t159
2020-04    \t\t159
2020-05    \t\t159
2020-06    \t\t159
2020-07    \t\t159
2020-08    \t\t159
2020-09    \t\t159
2020-10    \t\t159
2020-11    \t\t159
2020-12    \t\t159
2021-01    \t\t159
2021-02    \t\t159
2021-03    \t\t159
2021-04    \t\t159
2021-05    \t\t159
2021-06    \t\t159
2021-07    \t\t159
2021-08    \t\t159
2021-09    \t\t159
2021-10    \t\t159
Name: 지점번호, dtype: object

In [35]:
def removeData(rData):
    #print(rData)
    return rData.replace("\t", "")

df['지점번호'] = df['지점번호'].apply(removeData)
df.head(2)

        지점번호 지점명  평균기온  평균최고기온  최고기온      최고기온일자  평균최저기온  최저기온      최저기온일자
2020-01  159  부산   6.4    10.9  17.7  2020-01-07     3.1  -3.2  2020-01-01
2020-02  159  부산   7.1    11.8  18.1  2020-02-14     3.1  -5.0  2020-02-06